.plans{
    display: flex;
    justify-content:center;
    flex-basis: 50%;
    margin:5px;
    flex-direction: row;

}
.plan{
    margin:5px;
    flex-basis: 50%;
}
.plan h2{
    font-size:22px;
    line-height: 1.5;
    min-height: 4rem;
    padding: 0;
    margin:15px 0;
}
.description{
    font-size: 16px;
    color: #2F2F2F;
}
.pillow{
    font-size:14px;
    padding:20px;
    margin: 5px 0;
    background-color: #ffffff;
}
.pillow .h3{
    font-size:18px;
    font-weight: 400;
}

@media screen and (max-width: 650px) {
    .plans{
        flex-direction: column;
    }
  }