.formfields{
    margin-top:40px;
}
.membersNumber{
    text-align: center;
}

.formGroup{
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.formGroup input{
    padding: 5px;
    margin:5px;
    font-size:22px;
}


  .fullname, .emailaddress{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }